---
---

@import "{{ site.theme }}";


div.banner {
  border-radius: .5em;
  border: 2px solid;
  padding: .8em;
  // padding-top: .5em;
  padding-bottom: 0em;
  width: 90%;
  // height: 150px
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

.banner-items{
    margin-bottom: .4em;
}

.banner-title {
  font-size: 1.3em;
  margin-bottom: .8em;
}


div .mailing-list-banner {
  @extend .banner;
  color: #AB7003;
  border-color: #AB7003;
  background: #FEF7EC;
}

div .mailing-list-title {
  @extend .banner-title;
  color: #ff33cc;
}

.mailing-list-announcement-old {
  @extend .banner-items;
  color: #cc3399;
  font-size: .9em;

  a {
    color: #cc3399;
    text-decoration: underline;
  }
}

.mailing-list-announcement-new {
  @extend .banner-items;
  color: #ff33cc;

  a {
    color: #ff33cc;
    text-decoration: underline;
  }

  a:hover {
    color: #cc3399;
  }
}


div .register-banner {
  @extend .banner;
  color: #576ebb;
  border-color: #576ebb;
  background: #f9faff;
  .register-banner-items {
    @extend .banner-items;
    margin-bottom: .8em;
    text-align: justify;
  }
  a {
    color: #576ebb;
    text-decoration: underline;
  }

  a:hover {
    color: #4a74ff;
  }
}

div#past {
  color: #cccccc;

}

.avatar {
    /* make a square container */
    width: 150px;
    height: 150px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
}
